*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}
:before, :after {
    --tw-content: ""
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}
body {
    margin: 0;
    line-height: inherit
}
hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}
abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}
a {
    color: inherit;
    text-decoration: inherit
}
b, strong {
    font-weight: bolder
}
code, kbd, samp, pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}
button, select {
    text-transform: none
}
button, [type=button], [type=reset], [type=submit] {
    background-color: transparent;
    background-image: none
}
:-moz-focusring {
    outline: auto
}
:-moz-ui-invalid {
    box-shadow: none
}
progress {
    vertical-align: baseline
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    outline-offset: -2px
}
::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
summary {
    display: list-item
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0
}
fieldset {
    margin: 0;
    padding: 0
}
legend {
    padding: 0
}
ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0
}
textarea {
    resize: vertical
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}
input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}
button, [role=button] {
    cursor: pointer
}
:disabled {
    cursor: default
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}
img, video {
    max-width: 100%;
    height: auto
}
[hidden] {
    display: none
}
*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.left-0 {
    left: 0px
}
.top-0 {
    top: 0px
}
.z-30 {
    z-index: 30
}
.z-50 {
    z-index: 50
}
.mb-0 {
    margin-bottom: 0
}
.mb-2 {
    margin-bottom: .5rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-5 {
    margin-bottom: 1.25rem
}
.mt-0 {
    margin-top: 0
}
.mt-10 {
    margin-top: 2.5rem
}
.mt-14 {
    margin-top: 3.5rem
}
.mt-2 {
    margin-top: .5rem
}
.mt-5 {
    margin-top: 1.25rem
}
.mt-6 {
    margin-top: 1.5rem
}
.mt-\[-1px\] {
    margin-top: -1px
}
.box-border {
    box-sizing: border-box
}
.flex {
    display: flex
}
.h-12 {
    height: 3rem
}
.h-14 {
    height: 3.5rem
}
.h-2 {
    height: .5rem
}
.h-40 {
    height: 10rem
}
.h-5 {
    height: 1.25rem
}
.h-8 {
    height: 2rem
}
.h-\[100px\] {
    height: 100px
}
.h-auto {
    height: auto
}
.h-screen {
    height: 100vh
}
.max-h-\[80\%\] {
    max-height: 80%
}
.min-h-screen {
    min-height: 100vh
}
.w-12 {
    width: 3rem
}
.w-14 {
    width: 3.5rem
}
.w-2 {
    width: .5rem
}
.w-56 {
    width: 14rem
}
.w-6 {
    width: 1.5rem
}
.w-7 {
    width: 1.75rem
}
.w-8 {
    width: 2rem
}
.w-\[100\%\] {
    width: 100%
}
.w-\[25px\] {
    width: 25px
}
.w-\[260px\] {
    width: 260px
}
.w-\[calc\(27px\)\] {
    width: 27px;
    height: auto;
}
.w-\[calc\(22px\)\] {
    width: 20px;
    height: auto;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content
}
.w-full {
    width: 100%
}
.w-screen {
    width: 100vw
}
.min-w-\[calc\(260px\)\] {
    min-width: 260px
}
.max-w-\[2500px\] {
    max-width: 2500px
}
.flex-1 {
    flex: 1 1 0%
}
.grow {
    flex-grow: 1
}
.cursor-pointer {
    cursor: pointer
}
.resize {
    resize: both
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-center {
    align-items: center
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.justify-evenly {
    justify-content: space-evenly
}
.gap-12 {
    gap: 3rem
}
.gap-2 {
    gap: .5rem
}
.gap-20 {
    gap: 5rem
}
.gap-3 {
    gap: .75rem
}
.gap-4 {
    gap: 1rem
}
.gap-5 {
    gap: 1.25rem
}
.gap-6 {
    gap: 1.5rem
}
.gap-8 {
    gap: 2rem
}
.gap-y-8 {
    row-gap: 2rem
}
.self-center {
    align-self: center
}
.overflow-hidden {
    overflow: hidden
}
.overflow-x-auto {
    overflow-x: auto
}
.overflow-x-hidden {
    overflow-x: hidden
}
.rounded-full {
    border-radius: 9999px
}
.rounded-lg {
    border-radius: .5rem
}
.rounded-md {
    border-radius: .375rem
}
.rounded-xl {
    border-radius: .75rem
}
.border {
    border-width: 1px
}
.border-2 {
    border-width: 2px
}
.border-8 {
    border-width: 8px
}
.border-\[12px\] {
    border-width: 12px
}
.border-solid {
    border-style: solid
}
.border-border {
    --tw-border-opacity: 1;
    border-color: rgb(206 212 218 / var(--tw-border-opacity))
}
.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(28 126 214 / var(--tw-border-opacity))
}
.border-transparent {
    border-color: transparent
}
.border-t-primary {
    --tw-border-opacity: 1;
    border-top-color: rgb(28 126 214 / var(--tw-border-opacity))
}
.bg-background {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 250 / var(--tw-bg-opacity))
}
.bg-card {
    --tw-bg-opacity: 1;
    background-color: rgb(233 236 239 / var(--tw-bg-opacity))
}
.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity))
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(28 126 214 / var(--tw-bg-opacity))
}
.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}
.bg-transparent {
    background-color: transparent
}
.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity))
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.px-\[calc\(3px\)\] {
    padding-left: 3px;
    padding-right: 3px
}
.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.pb-6 {
    padding-bottom: 1.5rem
}
.pt-4 {
    padding-top: 1rem
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.align-top {
    vertical-align: top
}
.font-main {
    font-family: Montserrat, sans-serif
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.text-sm {
    font-size: .95rem
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.text-xs {
    font-size: .8rem
}
.font-bold {
    font-weight: 700
}
.font-medium {
    font-weight: 500
}
.font-normal {
    font-weight: 400
}
.text-background {
    --tw-text-opacity: 1;
    color: rgb(248 249 250 / var(--tw-text-opacity))
}
.text-heading, .text-paragraph {
    --tw-text-opacity: 1;
    color: rgb(52 58 64 / var(--tw-text-opacity))
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgb(28 126 214 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.opacity-0 {
    opacity: 0
}
.opacity-100 {
    opacity: 1
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}
.duration-\[500ms\] {
    transition-duration: .5s
}
.duration-\[700ms\] {
    transition-duration: .7s
}
html {
    scroll-behavior: smooth
}
.toUp {
    animation: hideButton 1s forwards
}
#canvas {
    animation: hideParticless 1.3s .8s forwards
}
@keyframes hideButton {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes hideParticless {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}
.before\:h-\[105\%\]:before {
    content: var(--tw-content);
    height: 105%
}
.before\:w-full:before {
    content: var(--tw-content);
    width: 100%
}
.before\:border-l-\[2px\]:before {
    content: var(--tw-content);
    border-left-width: 2px
}
.before\:border-solid:before {
    content: var(--tw-content);
    border-style: solid
}
.before\:border-primary:before {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(28 126 214 / var(--tw-border-opacity))
}
.before\:bg-background:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 250 / var(--tw-bg-opacity))
}
.after\:absolute:after {
    content: var(--tw-content);
    position: absolute
}
.after\:h-4:after {
    content: var(--tw-content);
    height: 1rem
}
.after\:w-4:after {
    content: var(--tw-content);
    width: 1rem
}
.after\:translate-x-\[calc\(26px\)\]:after {
    content: var(--tw-content);
    --tw-translate-x: 26px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.after\:rounded-full:after {
    content: var(--tw-content);
    border-radius: 9999px
}
.after\:bg-background:after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 250 / var(--tw-bg-opacity))
}
.after\:transition-all:after {
    content: var(--tw-content);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}
.after\:content-\[\'\'\]:after {
    --tw-content: "";
    content: var(--tw-content)
}
.hover\:bg-hover:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(222 226 230 / var(--tw-bg-opacity))
}
.hover\:shadow-light:hover {
    --tw-shadow: 0 0 5px #1c7ed6;
    --tw-shadow-colored: 0 0 5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
:is(.dark .dark\:border-dborder) {
    --tw-border-opacity: 1;
    border-color: rgb(74 74 74 / var(--tw-border-opacity))
}
:is(.dark .dark\:border-dprimary) {
    --tw-border-opacity: 1;
    border-color: rgb(28 126 214 / var(--tw-border-opacity))
}
:is(.dark .dark\:bg-dbackground) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 26 28 / var(--tw-bg-opacity))
}
:is(.dark .dark\:bg-dcard) {
    --tw-bg-opacity: 1;
    background-color: rgb(33 37 41 / var(--tw-bg-opacity))
}
:is(.dark .dark\:bg-dprimary) {
    --tw-bg-opacity: 1;
    background-color: rgb(28 126 214 / var(--tw-bg-opacity))
}
:is(.dark .dark\:bg-primary) {
    --tw-bg-opacity: 1;
    background-color: rgb(28 126 214 / var(--tw-bg-opacity))
}
:is(.dark .dark\:text-dheading) {
    --tw-text-opacity: 1;
    color: rgb(248 249 250 / var(--tw-text-opacity))
}
:is(.dark .dark\:text-dparagraph) {
    --tw-text-opacity: 1;
    color: rgb(173 181 189 / var(--tw-text-opacity))
}
:is(.dark .dark\:text-dprimary) {
    --tw-text-opacity: 1;
    color: rgb(28 126 214 / var(--tw-text-opacity))
}
:is(.dark .dark\:before\:bg-dbackground):before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(24 26 28 / var(--tw-bg-opacity))
}
:is(.dark .dark\:hover\:bg-dhover:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(52 58 64 / var(--tw-bg-opacity))
}
:is(.dark .dark\:hover\:shadow-dark:hover) {
    --tw-shadow: 0 0 5px #1c7ed6;
    --tw-shadow-colored: 0 0 5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
@media (min-width: 500px) {
    .sm\:gap-10 {
        gap: 2.5rem
    }
    .sm\:px-14 {
        padding-left: 3.5rem;
        padding-right: 3.5rem
    }
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}
@media (min-width: 768px) {
    .md\:grid {
        display: grid
    }
    .md\:h-6 {
        height: 1.5rem
    }
    .md\:w-16 {
        width: 4rem
    }
    .md\:w-full {
        width: 100%
    }
    .md\:grid-cols-fluid {
        grid-template-columns: repeat(auto-fit, 260px)
    }
    .md\:flex-wrap {
        flex-wrap: wrap
    }
    .md\:justify-center {
        justify-content: center
    }
    .md\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .md\:text-sm {
        font-size: .95rem
    }
    .md\:after\:h-5:after {
        content: var(--tw-content);
        height: 1.25rem
    }
    .md\:after\:w-5:after {
        content: var(--tw-content);
        width: 1.25rem
    }
    .md\:after\:translate-x-\[calc\(38px\)\]:after {
        content: var(--tw-content);
        --tw-translate-x: 38px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
}
@media (min-width: 900px) {
    .lg\:mr-28 {
        margin-right: 7rem
    }
    .lg\:w-1\/2 {
        width: 50%
    }
    .lg\:w-64 {
        width: 16rem
    }
    .lg\:w-\[calc\(50\%\)\] {
        width: 50%
    }
    .lg\:flex-row {
        flex-direction: row
    }
    .lg\:items-center {
        align-items: center
    }
    .lg\:justify-end {
        justify-content: flex-end
    }
    .lg\:justify-center {
        justify-content: center
    }
    .lg\:gap-16 {
        gap: 4rem
    }
    .lg\:gap-32 {
        gap: 8rem
    }
    .lg\:text-\[calc\(0\.78rem\)\] {
        font-size: .78rem
    }
    .lg\:text-\[calc\(0\.93rem\)\] {
        font-size: .93rem
    }
}
@media (min-width: 1150px) {
    .xl\:mt-0 {
        margin-top: 0
    }
    .xl\:mt-3 {
        margin-top: .75rem
    }
    .xl\:flex {
        display: flex
    }
    .xl\:h-2 {
        height: .5rem
    }
    .xl\:max-h-\[60\%\] {
        max-height: 60%
    }
    .xl\:w-\[300px\] {
        width: 300px
    }
    .xl\:w-\[80\%\] {
        width: 80%
    }
    .xl\:w-full {
        width: 100%
    }
    .xl\:flex-1 {
        flex: 1 1 0%
    }
    .xl\:flex-row {
        flex-direction: row
    }
    .xl\:flex-col {
        flex-direction: column
    }
    .xl\:gap-32 {
        gap: 8rem
    }
    .xl\:gap-7 {
        gap: 1.75rem
    }
    .xl\:border-l-primary {
        --tw-border-opacity: 1;
        border-left-color: rgb(28 126 214 / var(--tw-border-opacity))
    }
    .xl\:border-t-transparent {
        border-top-color: transparent
    }
    .xl\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
    .xl\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .xl\:opacity-0 {
        opacity: 0
    }
}
@media (min-width: 1600px) {
    .xl2\:w-72 {
        width: 18rem
    }
    .xl2\:w-\[340px\] {
        width: 340px
    }
    .xl2\:grid-cols-fluid2 {
        grid-template-columns: repeat(auto-fit, 280px)
    }
    .xl2\:gap-10 {
        gap: 2.5rem
    }
    .xl2\:gap-28 {
        gap: 7rem
    }
    .xl2\:gap-40 {
        gap: 10rem
    }
    .xl2\:gap-8 {
        gap: 2rem
    }
    .xl2\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
    .xl2\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }
    .xl2\:px-40 {
        padding-left: 10rem;
        padding-right: 10rem
    }
    .xl2\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .xl2\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .xl2\:text-\[calc\(0\.9rem\)\] {
        font-size: .9rem
    }
    .xl2\:text-\[calc\(1\.05rem\)\] {
        font-size: 1.05rem
    }
    .xl2\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
}
@media (min-width: 1920px) {
    .xl3\:grid-cols-fluid3 {
        grid-template-columns: repeat(auto-fit, 320px)
    }
    .xl3\:px-60 {
        padding-left: 15rem;
        padding-right: 15rem
    }
}

.bolinha-sol::after {
    --tw-translate-x: 0;
}

.bolinha-lua::after {
    --tw-translate-x: calc(38px);
}

@keyframes surgir {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 50vw;
    max-height: 80vh;
    box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.2), 0 7px 20px 0 rgba(255, 255, 255, 0.2);
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.scrollable-content {
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(80vh - 300px);
    position: relative;
}

@keyframes animatetop {
    0% {
        top: 0;
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-text-heading {
    font-weight: medium;
    font-size: calc(0.93rem);
}

.modal-text-paragraph {
    font-size: calc(0.78rem);
    font-weight: normal;
}

@media (min-width: 1024px) {
    .modal-text-heading {
        font-size: calc(1.05rem);
    }

    .modal-text-paragraph {
        font-size: calc(0.9rem);
    }
}

.swiper-container {
    overflow: hidden;
}